<template>
  <div class="mainContainer">
    <div id="menu">
      <b-button @click="addSquare" type="is-success" style="margin-bottom: 2px">Dodaj Kostke</b-button>
      <b-button @click="addSphere" type="is-success" style="margin-bottom: 2px">Dodaj Sferę</b-button>
      <b-button @click="addTorus" type="is-success" style="margin-bottom: 2px">Dodaj Torus</b-button>
      <b-button @click="addPointLight" type="is-success" style="margin-bottom: 2px">Dodaj światło punktowe</b-button>
      <b-button @click="addSpotLight" type="is-success" style="margin-bottom: 2px">Dodaj światło stożkowe</b-button>
      <b-button @click="changeDirection" type="is-warning" style="margin-bottom: 2px">Zmien ruch światła</b-button>
      <b-button @click="addAmbientLightToScene" type="is-success" style="margin-bottom: 2px">Dodaj światło otaczające</b-button>
      <b-button @click="addDirectionalLightToScene" type="is-success" style="margin-bottom: 2px">Dodaj światło kierunkowe</b-button>
      <b-button @click="setRandomBackground" type="is-success" style="margin-bottom: 2px">Zmien kolor tła na losowy</b-button>
      <b-button @click="removeObjectByName('CUBE')" type="is-danger" style="margin-bottom: 2px">Usuń kostke</b-button>
      <b-button @click="removeObjectByName('SPHERE')" type="is-danger" style="margin-bottom: 2px">Usuń sferę</b-button>
      <b-button @click="removeObjectByName('TORUS')" type="is-danger" style="margin-bottom: 2px">Usuń torus</b-button>
      <b-button @click="removeObjectByName('AMBIENT')" type="is-danger" style="margin-bottom: 2px">Usuń światło otaczające</b-button>
      <b-button @click="removeObjectByName('DIRECTIONAL')" type="is-danger" style="margin-bottom: 2px">Usuń światło kierunkowe</b-button>
      <b-button @click="removeObjectByName('POINT')" type="is-danger" style="margin-bottom: 2px">Usuń światło punktowe</b-button>
      <b-button @click="removeObjectByName('SPOT')" type="is-danger" style="margin-bottom: 2px">Usuń światło stożkowe</b-button>
      <p>Colors and materials:</p>
      <input type="color" id="colorpicker" value="setRandomBackground" style="margin-top:10px">
      <select v-model="selected">
        <option v-for="material in materials" :value="material">{{material}}</option>
      </select>
      <select v-model="selectedTexture">
        <option v-for="texture in texturesOption" :value="texture">{{texture}}</option>
      </select>

      <select v-model="selectedPointLightName">
        <option v-for="pointLightName in pointLightNames" :value="pointLightName" @click="updateSelectedLightDetails">{{pointLightName}}</option>
      </select>
      <div id="parameters" v-if="selectedPointLight">
        <p>Intensity: {{selectedPointLight.intensity}}</p>
        <p>Distance: {{selectedPointLight.distance}}</p>
        <p>Decay: {{selectedPointLight.decay}}</p>
        <p>Angle (spotlight only): {{selectedPointLight.angle}}</p>
      </div>
      <section style="width: 90%; margin-left: auto; margin-right: auto">
        <b-field label="intensity">
          <b-slider v-model="intensity" @dragging="changeIntensity" :min="0" :max="6" :step="0.2"></b-slider>
        </b-field>
        <b-field label="distance">
          <b-slider v-model="distance" @dragging="changeDistance" :min="0" :max="200"></b-slider>
        </b-field>
        <b-field label="decay">
          <b-slider v-model="decay" @dragging="changeDecay" :min="0" :max="1" :step="0.05"></b-slider>
        </b-field>
        <b-field label="angle(spot light only)">
          <b-slider v-model="angle" @dragging="changeAngle" :min="0" :max="1.05" :step="0.001"></b-slider>
        </b-field>
      </section>
    </div>
    <div id="container">
    </div>
  </div>
</template>

<script>
import * as Three from 'three'
import {OrbitControls} from 'three/examples/jsm/controls/OrbitControls.js';
import { GUI } from 'three/examples/jsm/libs/dat.gui.module.js';

export default {
  name: 'ThreeTest',
  data() {
    return {
      materials: ['MeshLambertMaterial', 'MeshPhysicalMaterial', 'MeshPhongMaterial'],
      texturesOption: ['LEW', 'DREWNO', 'METAL', 'MARCINEK'],
      textureMap: new Map(),
      selected: 'MeshPhongMaterial',
      selectedTexture: 'LEW',
      selectedPointLightName: null,
      pointLightNames: [],
      camera: null,
      scene: null,
      renderer: null,
      mesh: null,
      pointLight: null,
      spotLight: null,
      isIncrement: true,
      isRunAnimation: false,
      controls: null,
      square: new Three.BoxGeometry(4, 4, 4),
      sphere: new Three.SphereGeometry(2, 32, 32),
      torus: new Three.TorusKnotGeometry(3, 0.8, 91, 10, 20, 10),
      pointLights: new Map(),
      intensity: null,
      distance: null,
      decay: null,
      angle: null,
      focus: null,
      lightHelper: null,
      selectedPointLight: null,
    }
  },
  methods: {
    init() {
      let container = document.getElementById('container');

      this.camera = new Three.PerspectiveCamera(90, container.clientWidth / container.clientHeight, 0.01, 150);
      this.camera.position.z = 10;

      this.scene = new Three.Scene();
      this.scene.background = new Three.Color(0x444444);

      this.controls = new OrbitControls(this.camera, container);
      this.controls.enableDamping = true;
      this.controls.dampingFactor = 0.05;
      this.controls.screenSpacePanning = false;
      this.controls.minDistance = 4;
      this.controls.maxDistance = 500;
      this.controls.maxPolarAngle = Math.PI / 2;

      this.renderer = new Three.WebGLRenderer({antialias: true});
      this.renderer.setSize(container.clientWidth, container.clientHeight);
      container.appendChild(this.renderer.domElement);
    },
    addAmbientLightToScene() {
      let ambientLight = new Three.AmbientLight(document.getElementById('colorpicker').value);
      ambientLight.name = "AMBIENT";
      this.scene.add(ambientLight);
    },
    addDirectionalLightToScene() {
      let directionalLight = new Three.DirectionalLight(document.getElementById('colorpicker').value, 0.5);
      const helper = new Three.DirectionalLightHelper(directionalLight, 5);
      directionalLight.name = "DIRECTIONAL";
      this.scene.add(directionalLight);
      this.scene.add(helper);
    },
    addPointLight() {
      let sphere = new Three.SphereBufferGeometry(0.12, 16, 8);
      this.pointLight = new Three.PointLight(document.getElementById('colorpicker').value, this.intensity, this.distance, this.decay);
      this.pointLight.name = "POINT";
      this.pointLight.position.set((Math.floor(Math.random() * 5) - 3) , (Math.floor(Math.random() * 6) - 3), (Math.floor(Math.random() * 6) - 3));
      this.pointLight.add(new Three.Mesh(sphere, new Three.MeshBasicMaterial({color: document.getElementById('colorpicker').value})));
      const name = "POINT " + (this.pointLights.size + 1);
      this.selectedPointLightName = name
      this.pointLights.set(name, this.pointLight)
      this.pointLightNames.push(name)
      console.log(this.pointLights);
      this.scene.add(this.pointLight);
      const sphereSize = 1;
      const pointLightHelper = new Three.PointLightHelper(this.pointLight, sphereSize);
      this.scene.add(pointLightHelper);
      this.moveLight(this.pointLight);
    },
    addSpotLight() {
      let sphere = new Three.SphereBufferGeometry(0.12, 16, 8);
      this.spotLight = new Three.SpotLight(document.getElementById('colorpicker').value, this.intensity, this.distance);
      this.spotLight.name = "SPOT";
      this.spotLight.position.set((Math.floor(Math.random() * 15) - 3) , (Math.floor(Math.random() * 15) - 3), (Math.floor(Math.random() * 6) - 8));
      this.spotLight.add(new Three.Mesh(sphere, new Three.MeshPhongMaterial({color: document.getElementById('colorpicker').value})));
      const name = "SPOT " + (this.pointLights.size + 1);

      this.selectedPointLightName = name
      this.pointLights.set(name, this.spotLight)
      this.pointLightNames.push(name)

      if (this.lightHelper !== null) {
        this.scene.remove(this.lightHelper)
      }

      this.lightHelper = new Three.SpotLightHelper( this.spotLight );
      this.lightHelper.name = "SPOT";
      this.scene.add(this.spotLight);
      this.scene.add(this.lightHelper);
      this.moveLight(this.spotLight);
    },
    addSquare() {
      if(this.selected === 'MeshPhongMaterial')
      {
        this.mesh = new Three.Mesh(this.square, new Three.MeshPhongMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshPhysicalMaterial')
      {
        this.mesh = new Three.Mesh(this.square, new Three.MeshPhysicalMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshLambertMaterial')
      {
        this.mesh = new Three.Mesh(this.square, new Three.MeshLambertMaterial({color: document.getElementById('colorpicker').value}));
      }

      const marcinek = new Three.TextureLoader().load(this.textureMap.get(this.selectedTexture));
      this.mesh = new Three.Mesh(this.square, new Three.MeshBasicMaterial({map: marcinek}));

      this.mesh.name = "CUBE";
      this.scene.add(this.mesh);
      this.isRunAnimation = true;
      this.animate();
    },
    addSphere(){
      if(this.selected === 'MeshPhongMaterial')
      {
        this.mesh = new Three.Mesh(this.sphere, new Three.MeshPhongMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshPhysicalMaterial')
      {
        this.mesh = new Three.Mesh(this.sphere, new Three.MeshPhysicalMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshLambertMaterial')
      {
        this.mesh = new Three.Mesh(this.sphere, new Three.MeshLambertMaterial({color: document.getElementById('colorpicker').value}));
      }
      if (this.selectedTexture === 'MARCINEK') {
        const marcinek = new Three.TextureLoader().load(this.textureMap.get(this.selectedTexture));
        this.mesh = new Three.Mesh(this.sphere, new Three.MeshBasicMaterial({envMap: marcinek}));
      }
      this.mesh.name = "SPHERE";
      this.scene.add(this.mesh);
      this.isRunAnimation = true;
      this.animate()
    },
    addTorus() {
      if(this.selected === 'MeshPhongMaterial')
      {
        this.mesh = new Three.Mesh(this.torus, new Three.MeshPhongMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshPhysicalMaterial')
      {
        this.mesh = new Three.Mesh(this.torus, new Three.MeshPhysicalMaterial({color: document.getElementById('colorpicker').value}));
      }
      if(this.selected === 'MeshLambertMaterial')
      {
        this.mesh = new Three.Mesh(this.torus, new Three.MeshLambertMaterial({color: document.getElementById('colorpicker').value}));
      }
      if (this.selectedTexture === 'MARCINEK') {
        const marcinek = new Three.TextureLoader().load(this.textureMap.get(this.selectedTexture));
        this.mesh = new Three.Mesh(this.torus, new Three.MeshBasicMaterial({map: marcinek}));
      }
      this.mesh.name = 'TORUS';
      this.scene.add(this.mesh);
      this.isRunAnimation = true;
      this.animate();
    },
    removeObjectByName(name) {
      this.scene.remove(this.scene.getObjectByName(name));
      this.isRunAnimation = false;
      this.renderer.render(this.scene, this.camera);
    },
    animate() {
      if (this.isRunAnimation) {
        this.controls.update();
        this.mesh.rotation.x += 0.005;
        this.mesh.rotation.y += 0.007;
        this.renderer.render(this.scene, this.camera);
        requestAnimationFrame(this.animate);
      } else {
        this.renderer.render(this.scene, this.camera);
      }
    },
    setRandomBackground() {
      const letters = '0123456789ABCDEF';
      let color = '#';
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      this.scene.background = new Three.Color(color);
    },
    changeDirection() {
      this.isIncrement = !this.isIncrement;
    },
    moveLight(light) {
      requestAnimationFrame(() => this.moveLight(light))
      const time = Date.now() * 0.00025;
      const d = 15;
      light.position.x = Math.sin( time * 0.7 ) * d;
      light.position.z = Math.cos( time * 0.3 ) * d;
      if(this.lightHelper)
        this.lightHelper.update();
      this.renderer.render(this.scene, this.camera);
    },
    changeIntensity(number) {
      this.selectedPointLight = this.pointLights.get(this.selectedPointLightName)
      if (this.selectedPointLight)
        this.selectedPointLight.intensity = number
    },
    changeDistance(number) {
      console.log(number)
      this.selectedPointLight = this.pointLights.get(this.selectedPointLightName)
      if (this.selectedPointLight)
        this.selectedPointLight.distance = number
    },
    changeDecay(number) {
      this.selectedPointLight = this.pointLights.get(this.selectedPointLightName)
      if (this.selectedPointLight)
        this.selectedPointLight.decay = number
    },
    changeAngle(number) {
      console.log(number);
      this.selectedPointLight = this.pointLights.get(this.selectedPointLightName)
      if (this.selectedPointLight)
        this.selectedPointLight.angle = number
    },
    updateSelectedLightDetails(){
      this.selectedPointLight = this.pointLights.get(this.selectedPointLightName)
      this.intensity = this.selectedPointLight.intensity;
      this.distance = this.selectedPointLight.distance;
      this.decay = this.selectedPointLight.decay;
      this.angle = this.selectedPointLight.angle;
    }
  },
  mounted() {
    this.textureMap.set('LEW', 'https://s3.eu-west-2.amazonaws.com/wiadro.1/wall.jpg')
    this.textureMap.set('DREWNO', 'https://s3.eu-west-2.amazonaws.com/wiadro.1/wood.jpg')
    this.textureMap.set('METAL', 'https://s3.eu-west-2.amazonaws.com/wiadro.1/metal.jpg')
    this.textureMap.set('MARCINEK', 'https://s3.eu-west-2.amazonaws.com/wiadro.1/marcinek.jpg')
    this.init();
    this.addSquare();
  }
}
</script>

<style scoped>
.mainContainer {
    /*position: relative;*/
  width: calc(100%);
  height: calc(100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#menu{
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  float: left;
}
#container{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 500px;
  left: 15%;
  overflow: hidden;
  width: calc(85%);
  height: calc(100%);
}
button{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
p{
  color:white;
}
</style>
