<template>
  <div id="app">
    <ThreeTest/>
<!--    <test-component/>-->
  </div>
</template>

<script>
import ThreeTest from './components/ThreeTest'

export default {
  name: 'App',
  components: {
    ThreeTest,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html, body{
  overflow-y: hidden;
}
</style>
